* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poor Story', system-ui;
    background-color: black;
    color: white;

}

img{
    max-width: 100%;
    width: 1%;
    border-radius: 20px;
}


a{
    list-style: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 70px;
}

img:hover{
    width: 40%;
    transition: 5s;
}
